<?xml version="1.0" encoding="UTF-8"?>
<phpunit backupGlobals="false"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/9.3/phpunit.xsd"
         backupStaticAttributes="false"
         bootstrap="vendor/autoload.php"
         colors="true"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true"
         processIsolation="false"
         stopOnFailure="false"
         executionOrder="default"
         resolveDependencies="true">
    <testsuites>
        <testsuite name="Snapshots">
            <directory suffix="Test.php">./tests/PHPUnit/Snapshots</directory>
        </testsuite>
        <testsuite name="Unit">
            <directory suffix="Test.php">./tests/PHPUnit/Unit</directory>
        </testsuite>
        <testsuite name="HTMLT">
            <directory suffix="HtmltTestRunner.php">./tests/PHPUnit/HTMLT</directory>
        </testsuite>
        <testsuite name="VTest">
            <directory suffix="VTestTestRunner.php">./tests/PHPUnit/VTest</directory>
        </testsuite>
    </testsuites>
    <coverage processUncoveredFiles="true">
        <include>
            <directory suffix=".php">src</directory>
        </include>
    </coverage>
    <php>
        <var name="HTMLPurifierTest[Net_IDNA2]" value="true" />
    </php>
</phpunit>
